[submodule ".emacs.d/el-get/el-get"]
	path = .emacs.d/el-get/el-get
	url = git://github.com/dimitri/el-get.git
[submodule ".emacs.d/el-get/auto-complete"]
	path = .emacs.d/el-get/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule ".emacs.d/el-get/yaml-mode"]
	path = .emacs.d/el-get/yaml-mode
	url = git://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/el-get/erc-view-log"]
	path = .emacs.d/el-get/erc-view-log
	url = git@github.com:Niluge-KiWi/erc-view-log.git
[submodule ".emacs.d/el-get/magit"]
	path = .emacs.d/el-get/magit
	url = git://github.com/philjackson/magit.git
[submodule ".emacs.d/el-get/gitsum"]
	path = .emacs.d/el-get/gitsum
	url = git://github.com/chneukirchen/gitsum.git
