/.cache/
/auto-save-list/
/eln-cache/
/elpa/
/emacs-backup/
/eshell/
/forge-database.sqlite
/history
/keyfreq
/keyfreq.lock
/multisession/
/places
/projects
/recentf
/smex-items
/transient/
/tree-sitter/

*~
/doc.org