/.cache/
/eln-cache/
/elpa/
/history
/transient/
/auto-save-list/
/eshell/
/projects
/smex-items
/recentf
/keyfreq
/keyfreq.lock
/emacs-backup/
/tree-sitter/
/multisession/
/forge-database.sqlite

*~
/doc.org